src/wf_object_from_sa_to_sb/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('Parse_JSON')[0]?['eventType']",
                                "Microsoft.EventGrid.SubscriptionValidationEvent"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Response_Validation_Webhook": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 200,
                            "body": "@item()?['data']?['validationCode']"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Response_Processing": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "@triggerOutputs()?['queries']?['code']"
                            }
                        },
                        "For_each": {
                            "type": "foreach",
                            "foreach": "@outputs('Parse_JSON')['body']",
                            "actions": {
                                "Read_blob_content": {
                                    "type": "ServiceProvider",
                                    "inputs": {
                                        "parameters": {
                                            "containerName": "input",
                                            "blobName": "@last(split(items('For_each')['subject'], '/'))"
                                        },
                                        "serviceProviderConfiguration": {
                                            "connectionName": "AzureBlob",
                                            "operationId": "readBlob",
                                            "serviceProviderId": "/serviceProviders/AzureBlob"
                                        }
                                    }
                                },
                                "Send_message": {
                                    "type": "ServiceProvider",
                                    "inputs": {
                                        "parameters": {
                                            "entityName": "topic-object",
                                            "message": {
                                                "contentData": "@body('Read_blob_content')?['content']"
                                            }
                                        },
                                        "serviceProviderConfiguration": {
                                            "connectionName": "serviceBus",
                                            "operationId": "sendMessage",
                                            "serviceProviderId": "/serviceProviders/serviceBus"
                                        }
                                    },
                                    "runAfter": {
                                        "Read_blob_content": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Response_Processing": [
                                    "SUCCEEDED"
                                ]
                            }
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "topic": {
                                    "type": "string"
                                },
                                "subject": {
                                    "type": "string"
                                },
                                "eventType": {
                                    "type": "string"
                                },
                                "eventTime": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "api": {
                                            "type": "string"
                                        },
                                        "clientRequestId": {
                                            "type": "string"
                                        },
                                        "requestId": {
                                            "type": "string"
                                        },
                                        "eTag": {
                                            "type": "string"
                                        },
                                        "contentType": {
                                            "type": "string"
                                        },
                                        "contentLength": {
                                            "type": "integer"
                                        },
                                        "blobType": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "sequencer": {
                                            "type": "string"
                                        },
                                        "storageDiagnostics": {
                                            "type": "object",
                                            "properties": {
                                                "batchId": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "dataVersion": {
                                    "type": "string"
                                },
                                "metadataVersion": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "topic",
                                "subject",
                                "eventType",
                                "eventTime",
                                "id",
                                "data",
                                "dataVersion",
                                "metadataVersion"
                            ]
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_resource_event_occurs": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azureeventgrid"
                        }
                    },
                    "body": {
                        "properties": {
                            "topic": "/subscriptions/bb0fca45-c3c9-4486-95b4-ebd8d0cdbc78/resourceGroups/rg-handsonlab-01/providers/Microsoft.Storage/storageAccounts/sahandsonlabinoday01",
                            "destination": {
                                "endpointType": "webhook",
                                "properties": {
                                    "endpointUrl": "@listCallbackUrl()"
                                }
                            },
                            "filter": {
                                "includedEventTypes": [
                                    "Microsoft.Storage.BlobCreated"
                                ],
                                "subjectBeginsWith": "/blobServices/default/containers/input/blobs/"
                            }
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('bb0fca45-c3c9-4486-95b4-ebd8d0cdbc78')}/providers/@{encodeURIComponent('Microsoft.Storage.StorageAccounts')}/resource/eventSubscriptions",
                    "queries": {
                        "x-ms-api-version": "2017-09-15-preview"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}